@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #111827;
  --foreground: #f9fafb;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background: #111827;
    --foreground: #f9fafb;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}